// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


// color Variables. 
$Darkcyan: hsl(185, 75%, 39%);
$Verydarkdesaturatedblue: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);
// Neutral color
$Darkgray: hsl(0, 0%, 59%);

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
// utilities
.local{
    font-size: 15px;
}
.light-text{
    color:$Darkgrayishblue;
    font-weight: normal;
}
.text{
    font-size: 14px;
    color:$Darkgrayishblue;
    text-align: center;
}
.numbers{
    text-align: center;
    padding-bottom: 5px;
}

body{
    background-image: url(/images/bg-pattern-top.svg),url(/images/bg-pattern-bottom.svg);
    background-color: $Darkcyan;
    background-repeat: no-repeat;
    background-position-y:-650px,400px;
    background-position-x:-650px, 120px ;
    margin-top:180px;
    font-family:'Kumbh Sans', sans-serif; 
}
.container{
    width: 80%;
    height: 350px;
    background-color:#fff;
    margin:auto;
    border-radius: 15px;
    position: relative;
}
.container-top{
    height: 35%;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: repeat-x;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: -1;
}
.container-pic{
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 100px;
    border-radius: 50%;
    height: 105px;
    width: 105px;
    display:flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
        border-radius: 50%;
    }

}
.container-content{
    margin-top: 80px;
}
.person-bio{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.name-age{
    padding-bottom: 15px;
}
.person-stats{
    border-top: 0.25px solid lightgray;
    padding: 15px 20px;
    margin-top: 20px;
    display:flex;  
    justify-content: space-between;

}
.followers,.likes,.photos{
    display:flex;
    flex-direction: column;
}


// media query

@media(min-width: 395px){
    .container-pic{
        left: 105px;
    }
}
@media(min-width: 450px){
    .container-pic{
        left: 130px;
    }
}

@media(min-width: 490px){
    .container-pic{
        left: 200px;
    }

}